<div #map class="map"></div>
    <div class="info-container d-flex d-flex-row">
    <div class="info">
      <h3>Mini Kitchen</h3>
      <p>
        25 Heng Mui Keng Terrace<br>
        SG 119615, Singapore<br><br>
        <strong>Phone:</strong> +65 12345678<br>
        <strong>Email:</strong> mini-kitchen@yahoo.com<br>
      </p>
    </div>
    <div class="operation-detail">
      <h3>Operation Details</h3>
      <p>
        Monday - Sunday 12PM - 9PM<br>
        Closed on Public holidays<br>
      </p>
    </div>
    </div>

