<footer>
<div class="container-fluid d-flex align-items-center justify-content-between footer-container">
    <div class="front">
          <div class="footer-info">
            <h3>Connect with Us</h3>
          </div>

            <div class="social-links ">
              <a href="#"><i class="fa fa-facebook fa-md"></i></a>
              <a href="#"><i class="fa fa-instagram fa-md"></i></a>
            </div>
    </div>
          <div class="faq">
            <a routerLink="/frequently-asked-questions">FAQs</a>
          </div>

    </div>
</footer>
