<div class="container mt-5 about-container">
  <div class="title">
    <h1>About</h1>
  </div>
  <div class="container">
    <img src="/assets/images/about.jpeg" alt="" class="image">
  </div>
  <div class="content">
    <h2>
      Who we are
    </h2>
    <p>
      In March 2022, Mini Kitchen Singapore opened its doors as a local restaurant.
      Bringing to you good served western food, French, Italian, Spanish....
    </p>
    <p>
      Simplicity is the hallmark of Mini Kitchen's pastries, and each creation in the kitchen is inspired by natural flavours.
      By marrying unique components, our goal is to achieve a delectable experience for the western food lovers.
    </p>
    <p>
      Mini Kitchen promises on using fresh premium ingredients and takes pride in creating aesthetically pleasing
      and tasteful food. We believe there is something for everyone, and we hope you make someone’s day with #miniKitchen.
    </p>
  </div>
</div>

