<div class="main-page d-flex align-items-center">
<div class="container position-relative text-center text-lg-start">
  <div class="row">
    <div class="col-lg-8">
      <h1>Welcome to <span>Mini Kitchen</span></h1>
      <h2>Delivering great food for everyone</h2>

      <div class="btns">
        <a routerLink="/menu" class="btn-menu animated fadeInUp ">Our Menu</a>
        <a class="btn-book animated fadeInUp" (click)="bookTablePage()">Book a Table</a>
      </div>
    </div>
  </div>
</div>
</div>
